.d-flex{
    display: flex;
    align-items: center;
    
}
.categoryboxmain{
    min-width: 330px!important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f4f7;
    padding:25px 15px;
    margin-right: 20px;
    .flexwrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        margin-bottom: 30px;
        .smallbox{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            background-color: #e8eeff;
        }
        .smallflag{
            width: 20px;
            height: 20px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            display: inline-block;
            margin-right: 15px;
        }
    }
}