.card{
    height: 125px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding:8px;
    margin-bottom: 15px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            margin:0;
            font-size: 12px;
            font-weight: 600;
            margin-left: 5px;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .middle{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rightmiddle{
            width: 45px;
            height: 25px;
        }
        img{
            width: 15px;
            height: 15px;
        }
        p{
            margin:0;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            margin-left: 5px;
            color:#949292;
        }
    }
    .bottom{
        margin-top: 10px;
        .d-flex{
            gap:8px;
        }
        .friendcount{
            font-size: 11px;
            font-weight: 700;
            background-color: #f2f4f7;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        .chatcount{
            font-size: 11px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            &.d-flex{
                gap:2px;
            }
        }
    }
}
.d-flex-only{
    display: flex;
}